<% for(let i in pkgs) {
    let package = pkgs[i];
console.log("package:", package.prefix);
%>
<li>
    <span>
        <a href='doc/package<%= package.prefix %>' target="mainFrame"> <%= package.name %></a>
        <% if(package.hasOwnProperty('subpackages')) { %>
            <ul class="treeview" id="<%= package.prefix.replace(/\//, '_') %>">
            <%- partial('./templates/App/_packageTree.ejs', {pkgs: package.subpackages}) %>
            </ul>
        <% } %>
    </span>
</li>
<%
} %>
